#uni{
	width: 200px;
	height: 200px;
	float: left;
}

#prepa{
	width: 200px;
	height: 200px;
	float: right;
}

#equipo{
	width: 450px;
	height: 370px;
	float: left;
	margin-top: -395px;
}

#codigo{
	width: 200px;
	height: 200px;
	float: right;
}

#titulo{
 margin-left: 350px;
}

#materia{
	margin-top: -30px;
	text-align: center;
}

#escuela{
	text-align: center;
	margin-top: -20px;
}

a{
	color: black;
}

#introduccion{
	font-size: 30px;
	font-family: sans-serif;
}

#intro{
	font-family: sans-serif;
	font-size: 25px; 
	width: 920px;
	margin-top: -25px;
}

html{
	background-color: #7fffd4;
}

#sec_intro{
	margin-left: 220px;
	margin-top: -130px;
}

#cartel{
	width: 600px;
	height: 800px;
	background: "cartel.jpg"
}

#dificultades{
	width: 430px;
	margin-top: -10px;
	float: left;
	font-family: sans-serif;
	font-size: 25px; 
	margin-right: 50px;
	margin-left: -5px;
}

#dif{
	font-size: 30px;
	font-family: sans-serif;
}

span{
	font-size: 30px;
	font-family: sans-serif;
 }

.slides img{
	height: 535px;
	width: 800px;
}

.slidesjs-pagination{
	margin-top: 0px;
	background: gray;
	list-style: none;
	overflow: hidden;
}

.slidesjs-pagination li{
	float: left;
}

.slidesjs-pagination li a{
	display: block;
	padding: 9px 20px;
	color: #fff;
	text-decoration: none;
}

.slidesjs-pagination li a:hover{
	background: #000;
}

.slides .active{
	background: #000;
}

.slidesjs-navigation{
	background: gray;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 30px 20px;
	float: right;
}

#resumen{
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 80px;
	margin-left: 475px;
}
#tex_resumen{
	font-family: sans-serif;
	font-size: 25px; 
	width: 850px;
	float: left;
	margin-top: -180px;
	margin-left: 475px;
 }

#porque{
 	font-size: 30px;
	font-family: sans-serif;
	margin-top: -105px;
 }

#tex_porque{
 	font-family: sans-serif;
	font-size: 25px; 
	width: 430px;
	float: left;
	margin-top: -20px;
}

.navegacion li a{
	padding: 10px 103px;
	background-color: #00c3af;
	color: #000;
	text-decoration: none;
	display: block;
	font-family: sans-serif;
}

.navegacion li a:hover{
	background: #fff;
}

.navegacion > li{
	float: left;
}

.navegacion li ul{
	display: none;
	position: absolute;
	max-width: 500px;
}

.navegacion li:hover > ul{
	display: block;
}

#header{
	margin: auto;
	width: 1335px;
	font-family: sans-serif;
}

ul, ol{
	list-style: none;
}

ul{
	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 400px) {
	
}