#uni{
	width: 15%;
	height: 15%;
	float: left;
}

#prepa{
	width: 12%;
	height: 12%;
	float: right;
}

#seccion1{
	width: 100%;
}

.menu_bar{
	display: none;
}

header{
	width: 100%;
}

header nav{
	background: #00c3af;
	z-index: 1000;
	max-width: 1000px;
	width: 95%;
	margin: 20px auto;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	display: inline-block;
	position: relative;
}

header nav ul li:hover{
	background: gray;
}

header nav ul li a{
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 20px;
}

header nav ul li span a{
	margin-right: 10px;
}

header nav ul li .sub{
	display: none;
	background: #00c3af;
	position: absolute;
	width: 300%;
	z-index: 1000;
}

header nav ul li:hover .sub{
	display: block;
}

header nav ul li .sub li a{
	display: block;
}

header nav ul li .sub li a {
	display: block;
}

#materia{
	margin-top: -30px;
	text-align: center;
}

#escuela{
	text-align: center;
	margin-top: -20px;
}

a{
	color: black;
}

#introduccion{
	font-size: 30px;
	font-family: sans-serif;
}

#intro{
	font-family: sans-serif;
	font-size: 25px; 
	width: 100%;
}

#sec_intro{
	display: inline-block;
}

#dificultades{
	width: 100%;
	margin-top: -10px;
	float: left;
	font-family: sans-serif;
	font-size: 25px; 
	margin-right: 50px;
}

#dif{
	font-size: 30px;
	font-family: sans-serif;
}

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #7fffd4;
}

.slides{
	width: 100%;
}

.slides img{
	width: 100%;
	height: 100%;
}

.slidesjs-pagination{
	background: #00c3af;
	list-style: none;
	overflow: hidden;
}

.slidesjs-pagination li{
	float: left;
}

.slidesjs-pagination li a{
	display: block;
	padding: 10px 20px;
	color: #000;
	text-decoration: none;
}

.slidesjs-pagination li a:hover{
	background: #fff;
}

.slides .active{
	background: #fff;
}

.slidesjs-navigation{
	background: #00c3af;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding: 12px 20px;
	float: right;
}

#seccion7{
	float: left;
	width: 100%;
}

#resumen{
	font-size: 30px;
	font-family: sans-serif;
}

#tex_resumen{
	font-family: sans-serif;
	font-size: 25px;
 }

#porque{
 	font-size: 30px;
	font-family: sans-serif;
 }

#tex_porque{
 	font-family: sans-serif;
	font-size: 25px; 
	width: 70%;
}

#codigo{
	width: 25%;
	height: 25%;
	align-content: right;
}

#equipo{
	width: 30%;
}

@media screen and (max-width: 800px){
	body{
		padding-top: 80px;
	}
	
	.menu_bar{
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		background: #00c3af;
	}

	.menu_bar .menu{
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span{
		float: right;
		font-size: 40px;
	}

	header nav{
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right: 100%;
		margin: 0;
		overflow: scroll;

	}

	header nav ul li{
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}

	header nav ul li a{
		display: block;
	}

	header nav ul li .sub{
		width: 100%;
		position: relative;
	}
}